* {
    border: 10px black;
    margin: 5px;
}

body {
    border: solid black;
    background-color: black;
    margin: 50px;

}

main {
    border: solid 1px gray;
    border-radius: 20px;
    box-shadow: 2px 2px 5px gray;
    background-color: lightgoldenrodyellow;
    margin: 50px;  
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-image: url(monkeyCowboy.jpg);
    border: solid 1px gray;
    border-radius: 10px;
}


header {
    font-size: 20pt;
    font-family: fantasy;
    text-align: center;
    border: solid 3px black;
    background-color: whitesmoke;
    border: solid 1px gray;
    border-radius: 20px;
    box-shadow: 2px 2px 5px gray;
    margin: 50px;
}

h1 {
    font-size: 50pt;
    font-family: fantasy;
    text-align: center;
}

h3 {
    
    font-size: 25pt;
    font-family: fantasy;
    text-align: center; 
}

ul {
    text-align: center;
    list-style-position: inside
}



footer {
    color: beige;
    text-align: center;
    border: solid 3px black;
    background-color: black;
}

