p{
    text-align: center;
    font-weight: bold;
}
h1 {
    text-align: center;
    font-family: "Courier New";
    color: darkolivegreen;
    border: solid 3px black ;
    background-color: whitesmoke;
    padding: 10px;
    Margin: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
}

body {
    background-color: darkseagreen
}

aside {
    background-color: lightgray;
    text-align: center;
    font-family: sans-serif;
    border: 2px dotted black;
    float: right;
    width: 30%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;    
}



h2 {
    text-align: center;
    font-family: "Courier New";
    color: darkolivegreen;
    border: solid 3px  ;
    background-color: whitesmoke;
    padding: 0px 10px;
    Margin: 0px 0px 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
}


li {
    color:black ;
    font-family: "Georgia";
    font-weight: bold;
}
a {
    display: block;
    color: midnightblue
}

article {
    border: 5px solid grey;
    box-shadow: 2px 2px 5px grey;
    margin: 3em;
    padding: 1em;
}
.projects {
    
    box-shadow: 5px grey;
    background-color: whitesmoke;
    border: 3px solid gray;
    border-radius: 5px;
    width: 69.45%;
    float: left2em;
}
.blogTitle {
    box-shadow: 5px grey;
    background-color: whitesmoke;
    border: 5px solid black;
    padding: 10px;
    float: left2em;
    text-align: left;
    margin: 10px 0px;
    
}
h3 {
    font-size: 20px;
    text-align: left;
    font-family: "Courier New";
    color: darkolivegreen;
    background-color: whitesmoke;
    
}
